.App {
  text-align: center;
}

.header {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  height: 10vh;
}

.btn-box {
  display: flex;
  width: 30vw;
  align-items: center;
  justify-content: space-around;
  
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.shopping-cart {
  height: auto;
  width: 40px;
  cursor: pointer;
}

.items-in-cart {
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: auto;
  position: absolute;
  right: 6vw;
  top: 3vh;

}

.card-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-list {
  list-style: none;
  
}

.checkout {
  margin-right: 2vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10.5vh;
  right: 0vw;
  width: 20vw;
  height: 60vh;
}

.check-out-card {
  border: 1px solid black;
  width: 20vw;
  height: 15vh;
  margin-right: 3vw;
}

.check-out-btn {
  background-color: rgba(59, 146, 59, 0.719);
  color: white;
  cursor: pointer;
  width: 15vw;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1vh;
}

li {
  list-style-type: none;
}

.card {
  border: 1px solid black;
  width: 40vw;
  margin: 1vw;
  display: flex;
  justify-content: space-around;
}